<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>

    <h1>RIDES</h1>

    <% for( let info of result) { %>

    <h3><%= info.attraction_name %> </h3>
    <label for="visitor">Visitors</label>
    <input type="text" name="visitor" id="visitor" value="<%= info.count %> ">

    <% } %>
    
    
</body>
</html>